.linksNavbar {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 10%;
  }

  .color-nav{
    background-color: rgb(255, 140, 0);
  }

  .linkText{
    color: black !important;
  }

  form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 30%;
  } 
  
  .listado{
    display: flex;
    justify-content: center;
  }

  .todosDetalles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }

  .botonSalir{
    margin-left:15px;
  }

  .botonComprar{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .mensajeComprar{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .spinner{
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}



